*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.optionsCont{
    height:4rem;
    width: 3.5rem;
    background-color: #f1f2f6;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.tools-cont{
    display: flex;
    height: 5rem;
    width:55vw;
    background-color: #f1f2f6;
    justify-content: space-around;
    position: absolute;
    top: 2rem;
    left: 25vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.tools-cont > * {
    display: block;
    width: 3rem;
}

.pencil-tool-cont{
    position: absolute;
    background-color: f1f2f6;
    height: 5rem;
    width: 7rem;
    top: 7rem;
    left: 24rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 3px;
}

.pencil-width-cont{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 2rem);
}

.pencil-width-cont input{
    width: 80% ;
}

.pencil-color-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pencil-color{
    width: 1.5rem;
    height: 1.8rem;
    border-radius: 50%;
}

.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}

.eraser-tool-cont{
    height: 2rem;
    width: 7rem;
    background-color: lightblue;
    position: absolute;
    top: 7rem;
    left: 32rem;
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.eraser-tool-cont input{
    width: 80%;
}